/***************************** Geral ***********************************/

body {
  padding-top: 151px;
}

.title {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: var(--text-color);
  font-weight: 900;
  text-align: center;
  padding-bottom: 0.625rem;
}
.subtitle {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 500;
  text-align: center;
}
.hide-desktop {
  display: none;
}
@media screen and (max-width: 1020px) {
  body {
    padding-top: 106px;
  }
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: block;
  }
  .title {
    font-size: 1.875rem;
  }
}
/***************************** BUTTON ***********************************/

.btn {
  border: 1px solid transparent;
  height: 2.6rem;
  padding: 0 30px;
  border-radius: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;
  font-weight: 700;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}
/***************************** HEADER ***********************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.top-header {
  transition: var(--transition);
  overflow: hidden;
}
header.sticky .top-header {
  padding: 0;
  max-height: 0;
}
header.sticky {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
/* Top Header */
.top-header {
  height: 100%;
  max-height: 50px;
}
.languages button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  text-decoration: underline;
  color: #fff;
  opacity: 0.3;
}
.languages button.active {
  opacity: 1;
}
.top-header .menu-top-header a {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}
.top-header .menu-top-header li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.top-header .menu-top-header li + li:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: #fff;
  line-height: 0;
}

.top-header .slider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  flex: 1;
  max-width: 500px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.01);
}
.top-header .slider::after,
.top-header .slider::before {
  background: linear-gradient(
    to right,
    rgba(90, 94, 109, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 100%;
  position: absolute;
  width: 40px;
  z-index: 2;
}
.top-header .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.top-header .slider::before {
  left: 0;
  top: 0;
}

.top-header .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  gap: 20px;
  width: calc(450px * 8);
}
.top-header .slide-track .slide {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}
/* Top Header */

/* Header Meio */

.header-middle {
  background-color: #fff;
}
header .menu li a {
  font-size: 0.875rem;
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;

  position: relative;
}
header .menu li a::before {
  content: '';
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  height: 1px;
  background-color: var(--text-color);
  width: 0%;
  opacity: 0;
  transition: var(--transition);
}
header .menu li a:hover::before {
  opacity: 1;
  width: 50%;
}

/* Header Mobile */

@media screen and (max-width: 1020px) {
  .top-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .header-content {
    justify-content: space-between;
  }
  .header-middle .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-middle .languages button {
    color: var(--text-color);
  }
  .btn-menu-mobile {
    background-color: transparent;
    border: none;
  }
  .overlay-mobile-navigation {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  .overlay-mobile-navigation.active {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
  }
  .mobile-navigation {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999999;
    width: 85%;
    background-color: #fff;
    height: 100vh;
    overflow-y: auto;
    transition: var(--transition);
    border-top: 8px solid var(--primary-color);
  }
  .mobile-navigation.active {
    left: 0;
  }
  .close-menu-mobile {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 0px;
    width: 15%;
    height: 50px;
    right: 0px;
    color: #fff;
    font-size: 28px;
    display: none;

    background-color: var(--primary-color);
    border: none;
  }
  .menu-mobile li.has-submenu .submenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 80%;
    background-color: #fff;
    transition: var(--transition);
  }
  .menu-mobile li.has-submenu .submenu.active {
    left: 0;
  }
  .close-menu-mobile.active {
    display: block;
  }
  .mobile-navigation .logo-mobile {
    display: block;
    text-align: center;
    padding: 30px 0;
  }
  .mobile-navigation .languages button {
    color: var(--text-color);
  }
  .menu-mobile li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.25rem;
    text-transform: uppercase;
    color: var(--text-color);
    background: #fff;
    font-weight: 500;
    border-top: 1px solid #eeeff0;
  }
  .menu-mobile li:last-of-type a {
    border-bottom: 1px solid #eeeff0;
  }
  .menu-mobile li a.back-menu-mobile {
    justify-content: flex-start;
    gap: 10px;
  }
  .menu-mobile-contact {
    padding: 2.5rem 1.25rem;
  }
  .menu-mobile-contact h4 {
    font-size: 0.875rem;
    color: #000000;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .menu-mobile-contact a {
    display: inline-block;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 700;
    padding-bottom: 30px;
  }
  .menu-mobile-contact a span {
    font-size: 0.75rem;
  }
  .menu-mobile-lp {
    padding: 2.5rem 1.25rem;
    background-color: var(--primary-color);
    border-bottom: 8px solid #484d5f;
  }
  .menu-mobile-lp li a {
    color: #fff;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .menu-mobile-lp li + li {
    padding-top: 30px;
  }
}
/***************************** MAIN BANNER ***********************************/
.container-arrows {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.container-arrows .swiper-button-next:after,
.container-arrows .swiper-button-prev:after {
  display: none;
}
.container-arrows .swiper-button-next i,
.container-arrows .swiper-button-prev i {
  color: var(--primary-color);
  font-size: 2rem;
}
.main-banner .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  width: 17px;
  height: 17px;
}
.main-banner .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  padding: 0 15px;
  border-radius: 10px;
}
/***************************** DESCRIÇÃO HOME ***********************************/
@media screen and (max-width: 1020px) {
  .description-home {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
/***************************** CARROSSEL ***********************************/
.title-carrosel {
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secondary-font-family);

  display: flex;
  align-items: center;
  gap: 20px;
}
.title-carrosel::after {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--primary-color);
}
.swiper-button-carousel-next,
.swiper-button-carousel-prev {
  cursor: pointer;
}
.swiper-button-carousel-next.swiper-button-disabled i,
.swiper-button-carousel-prev.swiper-button-disabled i {
  opacity: 0.3;
}
@media screen and (max-width: 1020px) {
  .swiper-featured .swiper-slide {
    max-width: 300px;
  }
}
/***************************** SPOT ***********************************/

.details-btn {
  position: absolute;
  bottom: -10px;
  left: 0px;
  right: 0px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}
.spot .container-spot-img:hover .details-btn {
  bottom: 20px;
  opacity: 1;
  pointer-events: initial;
}
.product-name-spot {
  display: block;
  font-size: 0.875rem;
  color: var(--text-color);
  font-family: var(--text-color);
  text-align: center;
  padding-top: 25px;
}

@media screen and (max-width: 1020px) {
  .spot .container-spot-img .details-btn {
    opacity: 1;
    bottom: 20px;
    pointer-events: initial;
  }
}

/***************************** CARROSSEL CATEGORIAS ***********************************/
.carousel-categories .swiper-slide {
  text-align: center;
}
.carousel-categories .swiper-slide a strong {
  display: inline-block;
  font-size: 0.875rem;
  color: #000000;
  font-weight: 700;
  font-family: var(--secondary-font-family);
  text-align: center;
  padding-top: 10px;
}
@media screen and (max-width: 1020px) {
  .carousel-categories .swiper-slide {
    max-width: 130px;
  }
}

/***************************** BANNERS DESTAQUES ***********************************/
.banners-featured a {
  display: block;
  line-height: 0;
  height: 100%;
}
.banners-featured img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid-banners-featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
@media screen and (max-width: 1020px) {
  .grid-banners-featured {
    grid-template-columns: 1fr;
  }
  .banners-featured {
    padding-left: 0;
    padding-right: 0;
  }
}
