/***************************** Geral ***********************************/

body {
  padding-top: 130px;
}

.title {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: var(--text-color);
  font-weight: 900;
  text-align: center;
  padding-bottom: 0.625rem;
}
.subtitle {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 500;
  text-align: center;
}
.title-secondary {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 700;
  text-align: center;
}
.title-secondary:after {
  content: '';
  width: 75px;
  display: block;
  height: 10px;
  background-color: #eff1f6;
  margin: auto;
  margin-top: 20px;
}
.hide-desktop {
  display: none;
}
@media screen and (max-width: 1020px) {
  body {
    padding-top: 105px;
  }
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: block;
  }
  .title {
    font-size: 1.875rem;
  }
}

input:not(input[type='file']),
select,
textarea {
  height: 50px;
  opacity: 0.502;
  height: 52px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  width: 100%;
}
input[type='file'] {
  width: 100%;
}
input:not(input[type='file']) {
  padding: 20px;
}
textarea {
  min-height: 250px;
  resize: vertical;
}
select {
  padding: 0px 20px;
}
/***************************** BUTTON ***********************************/

.btn {
  border: 1px solid transparent;
  height: 2.6rem;
  padding: 0 30px;
  border-radius: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;
  font-weight: 700;
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-primary {
  background-color: var(--primary-color);
  color: #ffffff;
}
/***************************** HEADER ***********************************/
.header-product {
  border-bottom: 1px solid #f0f2f7;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.top-header {
  transition: var(--transition);
  overflow: hidden;
}
header.sticky .top-header {
  padding: 0;
  max-height: 0;
}
header.sticky {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
header.border:not(.sticky) {
  border-bottom: 1px solid #f0f2f7;
}
/* Top Header */
.top-header {
  height: 100%;
  max-height: 50px;
}
.languages button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  text-decoration: underline;
  color: #fff;
  opacity: 0.3;
}
.languages button.active {
  opacity: 1;
}
.top-header .menu-top-header a {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}
.top-header .menu-top-header li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.top-header .menu-top-header li + li:before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 14px;
  background-color: #fff;
  line-height: 0;
}

.top-header .slider {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  flex: 1;
  max-width: 500px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.01);
}
.top-header .slider::after,
.top-header .slider::before {
  background: linear-gradient(
    to right,
    rgba(90, 94, 109, 1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 100%;
  position: absolute;
  width: 40px;
  z-index: 2;
}
.top-header .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.top-header .slider::before {
  left: 0;
  top: 0;
}

.top-header .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  gap: 20px;
  width: calc(450px * 8);
}
.top-header .slide-track .slide {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}
/* Top Header */

/* Header Meio */

.header-middle {
  background-color: #fff;
}
header .menu > li > a {
  font-size: 0.875rem;
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 2px;

  position: relative;
}
header .menu > li > a i {
  font-size: 0.5rem;
  opacity: 0;
}
header .menu > li > a::before {
  content: '';
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  height: 1px;
  background-color: var(--text-color);
  width: 0%;
  opacity: 0;
  transition: var(--transition);
}
header .menu > li:hover > a::before {
  opacity: 1;
  width: 50%;
}
header .menu > li:hover > a i {
  opacity: 1;
}

@media screen and (min-width: 1020px) {
  .submenu-bottom {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 6.5px rgba(0, 0, 0, 0.08);
    background: #fff;

    display: none;
  }
  li.has-submenu:hover .submenu-bottom {
    display: block;
    animation-duration: 200ms;
    animation-delay: 250ms;
    animation-fill-mode: both;
    animation-name: animation_menu;
    -webkit-transform-origin: 0 0 0;
  }

  .submenu-content-bottom h4 a {
    font-size: 0.875rem;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    display: block;
  }
  .subsubmenu-bottom:not(.img) a {
    display: block;
    font-size: 0.875rem;
    line-height: 22px;
    color: #000000;
    font-weight: 500;
    transform: translateX(0px);
    transition: var(--transition);
  }
  .subsubmenu-bottom:not(.img) a:hover {
    transform: translateX(10px);
  }
  @keyframes animation_menu {
    0% {
      visibility: hidden;
      transform: scale(1, 0.7);
    }

    100% {
      visibility: visible;
      transform: scale(1, 1);
    }
  }
}

/* Header Mobile */

@media screen and (max-width: 1020px) {
  .top-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .header-content {
    justify-content: space-between;
  }
  .header-middle .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-middle .languages button {
    color: var(--text-color);
  }
  .btn-menu-mobile {
    background-color: transparent;
    border: none;
  }
  .overlay-mobile-navigation {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  .overlay-mobile-navigation.active {
    visibility: visible;
    opacity: 1;
    z-index: 99999;
  }
  .mobile-navigation {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999999;
    width: 85%;
    background-color: #fff;
    height: 100vh;
    overflow-y: auto;
    transition: var(--transition);
    border-top: 8px solid var(--primary-color);
  }
  .mobile-navigation.active {
    left: 0;
  }
  .close-menu-mobile {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 0px;
    width: 15%;
    height: 50px;
    right: 0px;
    color: #fff;
    font-size: 28px;
    display: none;

    background-color: var(--primary-color);
    border: none;
  }
  .menu-mobile li.has-submenu .submenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 80%;
    background-color: #fff;
    transition: var(--transition);
  }
  .menu-mobile li.has-submenu .submenu.active {
    left: 0;
  }
  .close-menu-mobile.active {
    display: block;
  }
  .mobile-navigation .logo-mobile {
    display: block;
    text-align: center;
    padding: 30px 0;
  }
  .mobile-navigation .languages button {
    color: var(--text-color);
  }
  .menu-mobile li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.25rem;
    text-transform: uppercase;
    color: var(--text-color);
    background: #fff;
    font-weight: 500;
    border-top: 1px solid #eeeff0;
  }
  .menu-mobile li:last-of-type a {
    border-bottom: 1px solid #eeeff0;
  }
  .menu-mobile li a.back-menu-mobile {
    justify-content: flex-start;
    gap: 10px;
  }
  .menu-mobile-contact {
    padding: 2.5rem 1.25rem;
  }
  .menu-mobile-contact h4 {
    font-size: 0.875rem;
    color: #000000;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .menu-mobile-contact a {
    display: inline-block;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 700;
    padding-bottom: 30px;
  }
  .menu-mobile-contact a span {
    font-size: 0.75rem;
  }
  .menu-mobile-lp {
    padding: 2.5rem 1.25rem;
    background-color: var(--primary-color);
    border-bottom: 8px solid #484d5f;
  }
  .menu-mobile-lp li a {
    color: #fff;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  .menu-mobile-lp li + li {
    padding-top: 30px;
  }
}
/***************************** MAIN BANNER ***********************************/
.container-arrows {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.container-arrows .swiper-button-next:after,
.container-arrows .swiper-button-prev:after {
  display: none;
}
.container-arrows .swiper-button-next i,
.container-arrows .swiper-button-prev i {
  color: var(--primary-color);
  font-size: 2rem;
}
.main-banner .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  width: 17px;
  height: 17px;
}
.main-banner .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  padding: 0 15px;
  border-radius: 10px;
}
/***************************** DESCRIÇÃO HOME ***********************************/
@media screen and (max-width: 1020px) {
  .description-home {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
/***************************** CARROSSEL ***********************************/
.title-carrosel {
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secondary-font-family);

  display: flex;
  align-items: center;
  gap: 20px;
}
.title-carrosel::after {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--primary-color);
}
.swiper-button-carousel-next,
.swiper-button-carousel-prev {
  cursor: pointer;
}
.swiper-button-carousel-next.swiper-button-disabled i,
.swiper-button-carousel-prev.swiper-button-disabled i {
  opacity: 0.3;
}
@media screen and (max-width: 1020px) {
  .swiper-featured .swiper-slide,
  .swiper-featured-2 .swiper-slide {
    max-width: 300px;
  }
}
/***************************** SPOT ***********************************/

.details-btn {
  position: absolute;
  bottom: -10px;
  left: 0px;
  right: 0px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}
.spot .container-spot-img:hover .details-btn {
  bottom: 20px;
  opacity: 1;
  pointer-events: initial;
}
.product-name-spot {
  display: block;
  font-size: 0.875rem;
  color: var(--text-color);
  font-family: var(--text-color);
  text-align: center;
  padding-top: 25px;
}
.btn-details-mobile {
  display: none;
}
@media screen and (max-width: 1020px) {
  .spot .container-spot-img .details-btn {
    opacity: 1;
    bottom: 20px;
    pointer-events: initial;
  }
  .btn-details-mobile {
    margin-top: 10px;
    height: 2rem;
  }
  .btn-details-mobile {
    display: inline-flex;
  }
  .spot {
    text-align: center;
  }
  .product-name-spot {
    padding-top: 10px;
  }
}

/***************************** CARROSSEL CATEGORIAS ***********************************/
.carousel-categories .swiper-slide {
  text-align: center;
}
.carousel-categories .swiper-slide a strong {
  display: inline-block;
  font-size: 0.875rem;
  color: #000000;
  font-weight: 700;
  font-family: var(--secondary-font-family);
  text-align: center;
  padding-top: 10px;
}
@media screen and (max-width: 1020px) {
  .carousel-categories .swiper-slide {
    max-width: 130px;
  }
}

/***************************** BANNERS DESTAQUES ***********************************/
.banners-featured a {
  display: block;
  line-height: 0;
  height: 100%;
}
.banners-featured img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.grid-banners-featured {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
@media screen and (max-width: 1020px) {
  .grid-banners-featured {
    grid-template-columns: 1fr;
  }
  .banners-featured {
    padding-left: 0;
    padding-right: 0;
  }
}
/***************************** LINKS ACESSO RAPIDO ***********************************/

.grid-quick-access {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.img-quick-acess {
  line-height: 0;
  width: 100%;
  object-fit: cover;
}

.links-quick-acess li a {
  display: block;
  background-color: #eff1f6;
  border: 1px solid #eff1f6;
  width: 100%;
  padding: 20px 0;
  border-radius: 4px;
  margin-top: 20px;

  font-size: 1rem;
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--secondary-font-family);
  text-align: center;
  transition: var(--transition);
}
.links-quick-acess li a:hover {
  background-color: transparent;
  border: 1px solid #eff1f6;
}

.title-video {
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--secondary-font-family);

  display: flex;
  align-items: center;
  gap: 10px;
}
.title-video::after {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--primary-color);
}
.subtitle-video {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 900;
  font-family: var(--secondary-font-family);
}
.video-container {
  position: relative;
  padding-top: 75%;
  height: 0;
  overflow: hidden;
  margin-top: 20px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1020px) {
  .links-quick-acess li:first-of-type a {
    margin-top: 0;
  }
  .order-quick-access {
    order: 2;
  }
  .title-video {
    padding-bottom: 5px;
  }
}

/***************************** BLOG ***********************************/

.blog-item a {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 25px;

  font-size: 1rem;
  line-height: 20px;
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--secondary-font-family);
}
.blog-item p {
  font-size: 0.875rem;
  line-height: 19px;
  color: var(--text-color);
  font-weight: 400;
  font-family: var(--secondary-font-family);
}
.blog-item a:last-of-type {
  font-size: 0.875rem;
  padding-top: 15px;
}
.btn-posts.btn {
  background-color: #e6e8ef;
  margin-top: 20px;
  color: var(--text-color);
}
/***************************** NEWSLETTER ***********************************/
.newsletter {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e6e8ef;
}
.title-newsletter h2 {
  font-size: 1.375rem;
  color: #000000;
  font-weight: 500;
  padding-bottom: 10px;
}
.title-newsletter p {
  font-size: 0.875rem;
  color: #000000;
  font-weight: 500;
}
.form-newsletter input {
  height: 45px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #fff;
  transition: var(--transition);
  color: var(--text-color);
  border-radius: 50px;
  width: 100%;
}
.form-newsletter input::placeholder {
  color: var(--text-color);
}
.form-newsletter input:focus,
.form-newsletter input:hover {
  border-color: var(--primary-color);
  outline: 0;
}
.btn-newsletter {
  height: 45px;
  border: 2px solid #fff;
  color: var(--text-color);
  background-color: transparent;
  font-size: 0.75rem;
  color: var(--text-color);
  font-family: var(--secondary-font-family);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 0px 20px;
  cursor: pointer;
  transition: var(--transition);
}
.btn-newsletter:hover {
  background-color: #fff;
}
/***************************** NEWSLETTER ***********************************/

footer {
  background-color: #eff1f6;
}
.grid-footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  gap: 20px;
}
.menu-footer h4 {
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
  font-family: var(--secondary-font-family);
  padding-bottom: 20px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-footer h4::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: var(--primary-color);
}
.menu-footer li a {
  font-size: 0.875rem;
  line-height: 22px;
  color: #000000;
  font-weight: 400;
  font-family: var(--secondary-font-family);
}
.menu-footer .submenu-footer h6 {
  font-size: 0.875rem;
  line-height: 22px;
  color: #000000;
  font-weight: 700;
  padding-bottom: 5px;
}
.menu-footer ul.submenu-footer + ul.submenu-footer {
  margin-top: 10px;
}
.contact-menu-footer p {
  font-size: 0.875rem;
  color: #000000;
  font-weight: 700;
}
.contact-menu-footer li a {
  font-size: 0.75rem;
  line-height: 30px;
  color: #868a97;
  font-weight: 700;
}
.contact-menu-footer li + li {
  padding-top: 10px;
}
.submenu-footer {
  max-height: 200px;
  overflow-y: auto;
}

.submenu-footer::-webkit-scrollbar {
  width: 10px;
}

.submenu-footer::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

.submenu-footer::-webkit-scrollbar-thumb {
  background: #d9dce7;
  border-radius: 10px;
}

.submenu-footer::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
.social-media-footer li a i {
  color: #fff;
}
.social-media-footer li a {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: var(--transition);
}
.social-media-footer li a:hover {
  opacity: 1;
}
.location-footer p {
  font-size: 0.75rem;
  color: #000000;
  font-weight: 500;
}
@media screen and (max-width: 1020px) {
  .grid-footer {
    grid-template-columns: 1fr;
  }
  .description-footer {
    text-align: center;
  }
  .description-footer .social-media-footer {
    justify-content: center;
  }
  .social-media-footer li a {
    opacity: 1;
  }
  .menu-footer h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .menu-footer h4::after {
    content: '\f054';
    font: var(--fa-font-solid);
    width: unset;
    height: unset;
    color: var(--primary-color);
    background: none;
    transition: var(--transition);
  }
  .menu-item-dropdown.active h4::after {
    transform: rotate(90deg);
  }

  .menu-dropdown {
    overflow: hidden;
    max-height: 0;
    transition: var(--transition);
  }
  .logo-binden {
    text-align: center;
    margin-top: 60px;
  }
  .menu-item-dropdown.active .menu-dropdown {
    margin-top: 20px;
  }
}
/***************************** Cookie Consent ***********************************/

.consent {
  position: fixed;
  bottom: 1.25rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in-out 0s;
}
.consent .consent-content {
  background-color: #fff;
  color: var(--text-color);
  line-height: 1.5;
  font-size: 0.9em;
  position: relative;
  left: -100%;
  transition: all 0.2s ease-in-out 0s;
}
.consent.active .consent-content {
  left: 0;
  background-color: #dee1e9;
  /* border: 1px solid; */
  /* border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px #0000001c; */
}

.consent.active {
  left: 0;
  right: 0;
  opacity: 1;
  pointer-events: initial;
}
.consent .title-cookie {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 500;
  padding-bottom: 5px;
}
.consent .description-cookie {
  font-size: 0.75rem;

  color: var(--text-color);
  font-weight: 400;
}

.consent .btn-privacy {
  color: var(--primary-color);
  text-decoration: underline;
}
.consent .btn-privacy:hover {
  color: var(--primary-color);
}
button.consent-button {
  text-transform: lowercase;
  cursor: pointer;
}
.link-privacy {
  font-size: 0.75rem;
  text-decoration: underline;
  color: #000000;
  font-weight: 700;
  white-space: nowrap;
}
@media screen and (max-width: 1020px) {
  .consent .consent-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  /* .consent .consent-button {
    margin-left: 0;
    margin-top: 20px;
  } */
}

/***************************** SIDEBAR ***********************************/
.title-sidebar {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 20px;
}
.title-sidebar::after {
  content: '';
  display: block;
  width: 100px;
  height: 5px;
  margin-top: 20px;
  background-color: #ededed;
}
.sidebar-menu .filter-title {
  font-size: 1.125rem;
  line-height: 25px;
  color: var(--text-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e9ebee;
  padding-bottom: 15px;
  margin-bottom: 30px;

  cursor: pointer;
}
.sidebar-menu .filter-title::after {
  content: '\f054';
  font: var(--fa-font-solid);
  transition: var(--transition);
}
.sidebar-menu.active .filter-title::after {
  transform: rotate(90deg);
}
.sidebar-menu-item li + li {
  margin-top: 20px;
}
.sidebar-menu-item li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
  font-weight: 400;
  transition: var(--transition);
}
.sidebar-menu-item li a:hover {
  opacity: 0.8;
}
.sidebar-menu-item:not(.categories) a:not(.checked)::before {
  content: '\f0c8';
  font: var(--fa-font-regular);
  display: inline-block;
}
.sidebar-menu-item:not(.categories) a.checked::before {
  content: '\f14a';
  font: var(--fa-font-regular);
  display: inline-block;
}
.sidebar .sidebar-menu + .sidebar-menu {
  padding-top: 40px;
}
.sidebar .sidebar-menu-item {
  overflow: hidden;
  max-height: 0;
  transition: var(--transition);
}
.pagination .pagination-prev,
.pagination .pagination-next {
  font-size: 0.8rem;
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  padding: 0px 30px;
  height: 35px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-prev.disabled,
.pagination-next.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination ul li a {
  font-size: 1rem;
  height: 35px;
  padding: 0px 12px;
  font-weight: 500;
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination a:hover,
.pagination ul li.active a {
  background-color: var(--primary-color);
  color: #fff;
}
.breadcrumbs {
  margin-bottom: 40px;
}
.breadcrumbs a {
  font-size: 0.875rem;
  color: #333333;
  font-weight: 500;
}
.breadcrumbs a:last-of-type {
  font-weight: 900;
}

@media screen and (max-width: 1020px) {
  .container-breadcrumbs {
    background-color: #eff1f6;
  }
  .container-breadcrumbs {
    padding-top: 0;
  }
  .bg-mobile,
  .breadcrumbs-product {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .sidebar {
    position: fixed;
    top: 140px;
    bottom: 50px;
    left: -100%;
    width: 85%;
    z-index: 999;
    background: #fff;
    padding: 40px 20px;
    overflow: auto;
    box-shadow: 0 -7px 0 var(--primary-color);
    transition: var(--transition);
  }
  .sidebar.active {
    left: 0;
  }
  .side-cont-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  .side-cont-overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
  .close-side-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 140px;
    right: -100%;
    box-shadow: 0 -7px 0 var(--primary-color), 0 7px 0 var(--primary-color);

    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    width: 15%;
    height: 45px;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--transition);
  }
  .close-side-cont.active {
    right: 0px;
  }
  .pagination .pagination-prev,
  .pagination .pagination-next {
    padding: 0 20px;
  }
}
/***************************** PAGINA PRODUTO ***********************************/

.container-thumbs {
  max-width: 450px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.container-thumbs .swiper-slide img {
  border: 1px solid #a9a9a9;
}
.container-thumbs .swiper-slide-thumb-active img {
  border-color: var(--primary-color);
}
.container-thumbs .swiper-button-thumbs-prev,
.container-thumbs .swiper-button-thumbs-next {
  cursor: pointer;
}
.container-thumbs .swiper-button-thumbs-prev.swiper-button-disabled,
.container-thumbs .swiper-button-thumbs-next.swiper-button-disabled {
  opacity: 0.5;
}
.title-product {
  font-size: 1.5rem;
  line-height: 33px;
  color: #000000;
  font-weight: 500;
}
.title-product::after {
  content: '';
  width: 160px;
  height: 2px;
  display: block;
  background: var(--primary-color);
  margin: 25px 0;
}
.characteristics-product li {
  font-size: 1.125rem;
  line-height: 32px;
  color: #000000;
}
.characteristics-product li::before {
  content: '\f00c';
  font: var(--fa-font-solid);
  color: var(--primary-color);
  padding-right: 10px;
}

.variations .title-variants {
  font-size: 1.125rem;
  line-height: 33px;
  color: #000000;
  font-weight: 700;
}
.variations .variation {
  font-size: 1rem;
  display: block;
  color: var(--text-color);
  font-weight: 900;
  border: 2px solid #ededed;
  border-radius: 19px;
  padding: 10px 40px;
  text-align: center;
}
.where-buy {
  border-top: 1px solid #ededed;
  margin-top: 50px;
  padding-top: 30px;
}
.where-buy h4 {
  font-size: 1.125rem;
  line-height: 33px;
  color: #000000;
  font-weight: 700;
}
.where-buy a {
  border: 1px solid #ededed;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.tabs-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px solid #ededed;
}
.tabs-buttons button {
  background: none;
  border: none;
  opacity: 0.502;
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 400;
  padding-bottom: 20px;
  cursor: pointer;
  position: relative;
}
.tabs-buttons button::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--primary-color);
  opacity: 0;
  transform: translateX(-10px);
  transition: var(--transition);
}
.tabs-buttons button.active {
  font-weight: 700;
  opacity: 1;
}
.tabs-buttons button.active::before {
  transform: translateX(0px);
  opacity: 1;
}
.content-tabs li {
  display: none;
}
.content-tabs li.active {
  display: block;
}
.content-tabs p {
  font-size: 1.125rem;
  line-height: 23px;
  color: var(--text-color);
  font-weight: 500;
}
.content-tabs p + p {
  padding-top: 10px;
}

.title-differences {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 40px;
}
.card-differences {
  background: #fff;
  padding: 20px 30px;
  border-radius: 4px;
  position: relative;
  transition: var(--transition);
}

.card-differences::after {
  content: '';
  display: block;
  width: 75px;
  height: 4px;
  background-color: #afb5c7;

  position: absolute;
  top: 0;
  left: 25px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.card-differences:hover::after {
  opacity: 1;
  visibility: visible;
  left: calc(100% - 75px);
}
.card-differences:hover {
  background: #eff1f6;
}

.card-differences h4 {
  font-size: 1rem;
  color: #000000;
  font-weight: 500;
  padding-bottom: 5px;
  position: relative;
  transition: var(--transition);
}
.card-differences:hover h4 {
  font-weight: 900;
  color: var(--text-color);
}
.card-differences h4::before {
  content: '\f054';
  font: var(--fa-font-solid);
  font-size: 0.7rem;
  position: absolute;
  left: -15px;
  bottom: 10px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}
.card-differences:hover h4::before {
  opacity: 1;
  visibility: visible;
}

.card-differences p {
  font-size: 0.875rem;
  line-height: 20px;
  color: var(--text-color);
  font-weight: 500;
}
@media screen and (max-width: 1020px) {
  .container-product-mobile {
    padding-top: 30px;
  }
  .swiper-where-buy .swiper-slide {
    max-width: 140px;
  }
  .tabs-buttons {
    overflow-x: auto;
    padding: 0 1.25rem;
    justify-content: unset;
  }
  .tabs-buttons li {
    flex: 0 0 50%;
  }
  .tabs-buttons button::before {
    top: unset;
    bottom: 0px;
  }
  .columns-featured.columns.md-gap {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .columns-featured.columns.md-gap > [class*='col-'] {
    flex: 0 0 70%;
    margin: unset;
  }
  .card-differences {
    padding: 20px;
  }
  .card-differences h4 {
    font-weight: 900;
    color: var(--text-color);
  }
  .card-differences::after {
    opacity: 1;
    visibility: visible;
    left: 21px;
  }
  .container-product-mobile {
    overflow: hidden;
  }
  .columns-product,
  .column-description,
  .where-buy {
    overflow: visible;
  }
}

/***************************** CONTATO ***********************************/

.title-contact-container {
  padding: 2.5rem;
  max-width: 1050px;
  margin: auto;
  position: relative;
}
.title-contact-container:after {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  height: 120px;
  width: 10px;
  background-color: #b6bccd;
}
.title-contact-container h1 {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

.title-contact-container h6 {
  font-size: 2rem;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 900;
}
.title-contact-container p {
  font-size: 0.875rem;
  color: var(--text-color);
  font-weight: 500;
  color: #ffffff;
}
.title-contact-container p a {
  color: #fff;
  text-decoration: underline;
}
.title-contact-container p a:hover {
  color: var(--secondary-color);
}
.title-contact-container p + p {
  margin-top: 20px;
}
.contact-tabs-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.contact-tabs-buttons li button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color);
  font-weight: 700;
  line-height: 21px;
  width: 175px;
  height: 175px;
  cursor: pointer;
  border: 2px solid #b6bdcd;
  border-radius: 5px;
  transition: var(--transition);
}
.contact-tabs-buttons li button.active {
  border-color: #5a5e6d;
  box-shadow: 3px 0px 13.5px rgba(0, 0, 0, 0.1);
}
.container-institucional h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-align: center;
  color: var(--text-color);
  font-weight: 900;
}
.container-institucional {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.label-required {
  font-size: 0.875rem;
  color: var(--text-color);
  font-weight: 700;
  font-family: var(--secondary-font-family);
}
.label-required strong {
  color: #ff0606;
}
.form-contact {
  text-align: left;
  max-width: 600px;
  margin: auto;
  padding-top: 40px;
}

.form-contact label {
  opacity: 0.8;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 1rem;
}
.form-contact label strong {
  color: #ff0606;
}
.form-contact input {
  margin-bottom: 25px;
  flex: 1;
}
.form-contact select {
  margin-bottom: 25px;
}
.form-contact a {
  font-size: 0.75rem;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

/***************************** INSTITUCIONAl ***********************************/
.container-venance-numbers {
  overflow-x: auto;
}
.venance-numbers {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
.venance-numbers strong {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 900;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 1.125rem;
}
.venance-numbers p {
  font-size: 1.125rem;
  color: var(--text-color);
}
.who-we-are p {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 500;
}
.who-we-are p + p {
  padding-top: 20px;
}
.bg-history {
  background-color: #eff1f6;
}
.history h4 {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 700;
}
.history p,
.terms p {
  font-size: 1.125rem;
  color: var(--text-color);
  font-weight: 500;
}
.history p + p,
.terms p + p {
  padding-top: 20px;
}
.title-dropdown-terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.title-dropdown-terms span {
  width: 57px;
  height: 57px;
  display: inline-block;
  border-radius: 29px;
  background-color: var(--text-color);

  font-size: 1.25rem;
  line-height: 0.875rem;
  color: #ffffff;
  font-weight: 900;

  display: flex;
  align-items: center;
  justify-content: center;
}
.title-dropdown-terms span:before {
  content: '';
  width: 75px;
  height: 5px;
  display: block;
  position: absolute;
  top: calc(100% - 5px);
  background-color: var(--primary-color);
  opacity: 0.2;
}
.menu-item-dropdown-terms.active .title-dropdown-terms span:before {
  opacity: 1;
}
.title-dropdown-terms {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: var(--text-color);
  font-weight: 700;
  border-bottom: 1px solid #e2e2e2;
  padding: 40px;
  cursor: pointer;
}
.title-dropdown-terms i {
  font-size: 2rem;
  transition: var(--transition);
}
.menu-dropdown-terms {
  overflow: hidden;
  max-height: 0;
  transition: var(--transition);
}
.menu-dropdown-terms > ul {
  margin-top: 50px;
  padding: 0px 20px;
}
.menu-dropdown-terms ul li {
  font-size: 1rem;
  line-height: 24px;
  color: var(--text-color);
  font-weight: 400;
}
.menu-item-dropdown-terms.active i {
  transform: rotate(90deg);
}
@media screen and (max-width: 1020px) {
  .venance-numbers {
    flex: 0 0 50%;
  }
  .container-venance-numbers {
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
  }
}
